In [27]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [29]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,INR 627,14 Seats available,3.5\n101,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,20:50,07h 04m,INR 729,6 Seats available,3.1\n24,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,INR 620,26 Seats available,4.7\n11,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 97,Swift Deluxe Non AC Air Bus (2+2),16:02,00:50,08h 48m,INR 567,24 Seats available,2.8\n18,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 171,Swift Deluxe Non AC Air Bus (2+2),16:16,01:20,09h 04m,INR 640,12 Seats available,3.3\n8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
9438,WBTC (CTC) Habra-Midnapur - 194|07:00,Non AC Seater (2+3),07:00,09:00,02h 00m,INR 73,21 Seats available,3.4\n9,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Mechogram
9439,SBSTC-HABRA - HALDIA - 06:50 (HALDIA) - 1509,Non AC Seater (2+3),06:50,00:00,17h 10m,INR 142,47 Seats available,3.9\n11,https://www.redbus.in/bus-tickets/habra-to-haldia,Habra to Haldia
9440,Santosh Bus Service,A/C Seater Push Back (2+3),05:10,09:30,04h 20m,361,36 Seats available,4.6\n6,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)
9441,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),05:55,10:15,04h 20m,INR 138,21 Seats available,4.1\n21,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore
9442,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),06:20,00:00,17h 40m,INR 143,39 Seats available,4.5\n18,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore

# Data cleaning

In [32]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9443 entries, 0 to 9442
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         9429 non-null   object
 1   Bus_type         9429 non-null   object
 2   Start_time       9429 non-null   object
 3   End_time         9429 non-null   object
 4   Total_duration   9429 non-null   object
 5   Price            9429 non-null   object
 6   Seats_Available  9429 non-null   object
 7   Ratings          9429 non-null   object
 8   Route_link       9443 non-null   object
 9   Route_name       9443 non-null   object
dtypes: object(10)
memory usage: 737.9+ KB

In [34]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       627.0
1       729.0
2       620.0
3       567.0
4       640.0
        ...
9438     73.0
9439    142.0
9440    361.0
9441    138.0
9442    143.0
Name: Price, Length: 9443, dtype: float64

In [36]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\sneka\AppData\Local\Temp\ipykernel_28196\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [38]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9443 entries, 0 to 9442
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         9429 non-null   object
 1   Bus_type         9429 non-null   object
 2   Start_time       9429 non-null   object
 3   End_time         9429 non-null   object
 4   Total_duration   9429 non-null   object
 5   Price            9429 non-null   float64
 6   Seats_Available  9429 non-null   object
 7   Ratings          9443 non-null   float64
 8   Route_link       9443 non-null   object
 9   Route_name       9443 non-null   object
dtypes: float64(2), object(8)
memory usage: 737.9+ KB

In [40]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [42]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [44]:
# change dataframe to csv
path=r"C:/Users/sneka/OneDrive/Desktop/Redbus project/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [47]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="sneka", password="root",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [49]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [51]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully